@model DbFilesField.Settings.DbFilesFieldSettings

<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.Required) <label for="@Html.FieldIdFor(m => m.Required)" class="forcheckbox">@T("Required")</label>
        <span class="hint">@T("Check if the field is required.")</span>
    </div>
</fieldset>

<fieldset>
    @Html.CheckBoxFor(m => m.AllowMultiple) <label for="@Html.FieldIdFor(m => m.AllowMultiple)" class="forcheckbox">@T("Allow multiple files")</label>
    <span class="hint">@T("Check to allow multiple files.")</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.MaxKb)" class="forcheckbox">@T("Maximum file size in Kb")</label>
    @Html.TextBoxFor(m => m.MaxKb)
    @Html.ValidationMessageFor(m => m.MaxKb)
    <span class="hint">@T("(recommended: 1000)")</span>
</fieldset>

<fieldset>
    @Html.CheckBoxFor(m => m.AnnotateFile) <label for="@Html.FieldIdFor(m => m.AnnotateFile)" class="forcheckbox">@T("Annotate the first page of the pdf file with the current users\'s email address.")</label>
    <span class="hint">@T("Only applies to pdfs. Annotate format string MUST be present")</span>
</fieldset>

<fieldset>
        <label for="@Html.FieldIdFor(m => m.AnnotateFormatString)">@T("Annotate format string")</label>
        @Html.TextBoxFor(m => m.AnnotateFormatString, new { @class = "large" })
        <span class="hint">@T("eg: \"Licensed to {0}\"")</span>
</fieldset>

<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.Hint)">@T("Help text")</label>
        @Html.TextAreaFor(m => m.Hint, new {@class = "text medium", rows = "5"})
        <span class="hint">@T("The help text is written under the field when the user is entering a value.")</span>
        @Html.ValidationMessageFor(m => m.Hint)
    </div>
</fieldset>

